.header {
    height: 100vh;
    background: url(../../../public/img/two-barbers-chairs-in-front-of-mirrors-inside-room.jpg) center/cover;

    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        text-align: center;
        font-family: "Notable", sans-serif;
        color: #DCD7C9;
    }
}